html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(180 180 180 / 37%);
}


.button {
    width: 61px;
    height: 61px;
    margin: -6px 3px;
    border: 2px solid black(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
}


.row{
    margin: 8px 0;
}

.row input{
    font-size: 20px;
    margin: -2px;
    padding: 10px 11px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 40px;
    background-color: rgb(220, 220, 218);
}

.text-center{
    text-align: center;
    font-size: 70px;
}

.mx-auto{
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.operator-btn1{
    background-color: orange;
}

.operator-btn2{
    background-color: rgb(126, 124, 121);
}

.operator-btn3{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    max-width: 300px;
}

.operator-btn2:hover{
   background-color:  rgb(162, 159, 159);
}

.operator-btn1:hover{
   background-color:  rgb(253, 188, 66);
}